<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="ListOfRecords">
                <div class="row">
                     <div class="col">
                      <div class="input-group mb-3">
<div class="input-group-prepend">
  <span class="input-group-text" id="basic-addon1">#</span>
</div>
<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

                  </div>

                </div>
            
            <table class="table table-borderless table-hover animate__animated animate__fadeInUp animate__faster">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Father Name</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">License Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data" class="animate__animated animate__fadeInUp animate__faster">
                    <th >{{item.Id}}</th>
                    <td>{{item.Date}}</td>
                    <td>{{item.CustomerName}}</td>
                    <td>{{item.FatherName}}</td>
                    <td>{{item.MobileNumber}}</td>
                    <td>{{item.LisenceNumber}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>