<!-- <p >company-registration works!</p>
<button [mat-dialog-close]="data">close</button>

-->

  <div class="CompanyRegistration-Form animate__animated animate__zoomIn animate__faster">
    <form>
        <div class="row ">
            <div class="col">
               <h1 class="animate__animated animate__fadeInDown ">Company Registration</h1>
            </div>
        </div>
        <br>
        <br>
   
<div class="row  ">
    <div class="d-flex mt-2 mb-2 justify-content-end" >
        <div class="logoUpload animate__animated animate__fadeInDown " (click)="ifile.click()">
            <img [src]="imageSrc" alt="">
        </div>
        <input #ifile hidden type="file" (change)="onFileChange($event)">
    </div>
</div>
  <div class="row">
      <div class="col animate__animated animate__zoomIn ">
        <label>
            <input type="text" placeholder="Company Name"/>
        </label>
      </div>
      <div class="col animate__animated animate__zoomIn ">
        <label>
            <input type="text" placeholder="Owner Name"/>
        </label>
      </div>
  </div>
      <div class="row">
   
          <div class="col animate__animated animate__zoomIn ">
            <label>
                <input type="text" placeholder="Mobile Number"/>
              </label>
             </div>
             <div class="col animate__animated animate__zoomIn ">
                <label>
                    <input type="text" placeholder="License Number"/>
                  </label>
                 </div>
      </div>
      <div class="row">
        <div class="col animate__animated animate__zoomIn ">
        <label>
            <input type="text" placeholder="PreFix"/>
        </label>
        </div>
  </div>

      <div class="row">
        <div class="col animate__animated animate__zoomIn ">
              <label>
                  <textarea style="height: 150px;" type="text" placeholder="Address"></textarea>
              </label>
         </div>
      </div>
   

 

        
          
      
      <div class="row d-flex justify-content-end">
          <button class="red animate__animated animate__fadeInUp " type="button" style="width: 200px;" (click)="registerCompany()"> Register</button>

      </div>
<br>
<br>
        <p class="text-center">you can create multiple company from here </p>
        <!-- <div class="segment">
          <button class="unit" type="button"><i class="icon ion-md-arrow-back"></i></button>
          <button class="unit" type="button"><i class="icon ion-md-bookmark"></i></button>
          <button class="unit" type="button"><i class="icon ion-md-settings"></i></button>
        </div> -->
        

        
      </form>
</div>








