
<div class="page">
    <button [routerLink]="['/invoceA']" class="btn-style-1">Invoice</button>
    <button [routerLink]="['/dashboard']" class="btn-style-1">Print Invoice</button>
    <button [routerLink]="['/listofinvoices']" class="btn-style-1">Invoices List</button>
    <button [routerLink]="['/logIn']"class="btn-style-1">LogIn</button>
    <button class="btn-style-1">Purchase Order</button>
    <button class="btn-style-1">Income</button>
    <button class="btn-style-1">invoice</button>
    <button class="btn-style-1">Invoice Print</button>
    <button class="btn-style-1">Expense</button>
    <button class="btn-style-1">Inventory</button>
    <button class="btn-style-1">Purchase Order</button>
    <button class="btn-style-1">Income</button>
    <button class="btn-style-1">Purchase Order</button>
    <button class="btn-style-1">Income</button>
    <button class="btn-style-1">Purchase Order</button>
    <button class="btn-style-1">Purchase Order</button>



</div>


