
<div class="page animate__animated animate__zoomIn animate__faster">
    <button  class="btn-style-1 animate__animated animate__zoomIn" [routerLink]="['/invoceA']">Invoice</button>
    <button  class="btn-style-1 animate__animated animate__zoomIn" [routerLink]="['/dashboard']">Print Invoice</button>
    <button  class="btn-style-1 animate__animated animate__zoomIn" [routerLink]="['/listofinvoices']">Invoices List</button>
    <button class="btn-style-1 animate__animated animate__zoomIn"  [routerLink]="['/logIn']">LogIn</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Purchase Order</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Income</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">invoice</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Invoice Print</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Expense</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Inventory</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Purchase Order</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Income</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Purchase Order</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Income</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Purchase Order</button>
    <button class="btn-style-1 animate__animated animate__zoomIn">Purchase Order</button>



</div>


