<div class="logIn-Form animate__animated animate__zoomIn animate__faster ">
    <form>
  
        <div class="segment">
          <h1 class="animate__animated animate__fadeInDown ">Sign In</h1>
        </div>
        
        <label class="animate__animated animate__zoomIn ">
          <input type="text" placeholder="Email Address"/>
        </label>
        <label class="animate__animated animate__zoomIn ">
          <input type="password" placeholder="Password"/>
        </label>

       <div class=" d-flex justify-content-end animate__animated animate__fadeInDown ">
        <p> <span [routerLink]="['/signUp']">Forget?</span></p>
      </div>
        <button class="red animate__animated animate__fadeInUp " type="button"> Log in</button>
     
<br>
<br>
        <p>if you have not account yet? <span [routerLink]="['/signUp']">Register</span> now!</p>
        <br>
        
        <div class="segment">
          <button class="unit" type="button"><fa-icon color='red' [icon]="faGoogle"></fa-icon></button>
          <button class="unit" type="button"><fa-icon color='facebook'[icon]="faFacebook"></fa-icon></button>
          <button class="unit" type="button"><fa-icon [icon]="faTwitter"></fa-icon></button>
        </div>
        
     

        
      </form>
</div>