<div class="mainLandingPage p-3">

   <div class="d-flex justify-content-center">
      
      <div class="navBar">
         <div class="searchBar">
            <input type="text" placeholder="Search here..">
            
         </div>
      </div>
   </div>
   

   <div class="topQuickMenu d-flex justify-content-center">
       <div>Most Downloads</div>
       <div>Newly Upload</div>
       <div>Top Liked</div>
   
   </div>
   
   
   </div>




<div class="container">
   <div class="row">
      <div class="col-md-3">
         <div class="catogoriesMenu">
            <ul>
               <li>Multimedia</li>
               <li>Social Media</li>
               <li>Antivirus</li>
               <li>Web</li>
               <li>3d Modling</li>
               <li>Video Editing </li>
               <li>industrila </li>
               <li>sound </li>
               <li>melawayes bytes </li>
            </ul>
         </div>
      </div>
      <div class="col-md-9">
         <h1 class="text-center mt-4 mb-4">Essentnial Softwares</h1>
 
         <div class="d-flex justify-content-center mb-2 flex-wrap">

            <div class="animate animate__animated animate__zoomIn animate__faster">
         <div class="v_1_ad ">
            <div class="v_1_ad_logo animate__animated animate__fadeInDown">
               <img src="https://cutewallpaper.org/24/firefox-logo-png/filefirefox-brand-logo-2019png-wikimedia-commons.png" alt="">
            </div>
            <div class="v_1_ad_details">
               <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
               <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
               <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
            </div>
         </div>
         </div>
         <div class="animate animate__animated animate__zoomIn animate__faster">
            <div class="v_1_ad ">
               <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                  <img src="https://anydesk.com/_static/img/favicon/anydesk_icon.png" alt="">
               </div>
               <div class="v_1_ad_details">
                  <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                  <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                  <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
               </div>
            </div>
            </div>
            <div class="animate animate__animated animate__zoomIn animate__faster">
               <div class="v_1_ad ">
                  <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                     <img src="https://www.thebalancesmb.com/thmb/HCk--ysUcmvGXuMp5gtRdfbhK9s=/800x780/filters:no_upscale():max_bytes(150000):strip_icc()/Adobe_illustrator-c95bd1da899349bca8ea9cf4df937d1e.jpg" alt="">
                  </div>
                  <div class="v_1_ad_details">
                     <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                     <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                     <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
                  </div>
               </div>
               </div>
         
               <div class="animate animate__animated animate__zoomIn animate__faster">
                  <div class="v_1_ad ">
                     <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/FileZilla_logo.svg/2048px-FileZilla_logo.svg.png" alt="">
                     </div>
                     <div class="v_1_ad_details">
                        <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                        <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                        <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
                     </div>
                  </div>
                  </div>
                  <div class="animate animate__animated animate__zoomIn animate__faster">
                     <div class="v_1_ad ">
                        <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png
                           " alt="">
                        </div>
                        <div class="v_1_ad_details">
                           <h1 class="animate__animated animate__fadeInLeft text-truncate">Visual Studio Code</h1>
                           <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                           <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                        </div>
                     </div>
                     </div>
                     <div class="animate animate__animated animate__zoomIn animate__faster">
                        <div class="v_1_ad ">
                           <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                              <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Avast_Software_white_logo.png
                              " alt="">
                           </div>
                           <div class="v_1_ad_details">
                              <h1 class="animate__animated animate__fadeInLeft text-truncate">AVEST ANtivirus</h1>
                              <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                              <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                           </div>
                        </div>
                        </div>         <div class="animate animate__animated animate__zoomIn animate__faster">
                           <div class="v_1_ad ">
                              <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                                 <img src="    https://pnggrid.com/wp-content/uploads/2021/06/Windows-11-Icon-Logo.png
                                 " alt="">
                              </div>
                              <div class="v_1_ad_details">
                                 <h1 class="animate__animated animate__fadeInLeft text-truncate">Windows 11</h1>
                                 <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                                 <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                              </div>
                           </div>
                           </div>
                 
           
         </div>
         
         
         <div class="d-flex justify-content-center flex-wrap mt-3">
           
      
         <div class="animate animate__animated animate__zoomIn animate__faster">
            <div class="v_1_ad ">
               <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                  <img src="https://anydesk.com/_static/img/favicon/anydesk_icon.png" alt="">
               </div>
               <div class="v_1_ad_details">
                  <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                  <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                  <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
               </div>
            </div>
            </div>
            <div class="animate animate__animated animate__zoomIn animate__faster">
               <div class="v_1_ad ">
                  <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                     <img src="https://cutewallpaper.org/24/firefox-logo-png/filefirefox-brand-logo-2019png-wikimedia-commons.png" alt="">
                  </div>
                  <div class="v_1_ad_details">
                     <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                     <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                     <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
                  </div>
               </div>
               </div>
      
         
               <div class="animate animate__animated animate__zoomIn animate__faster">
                  <div class="v_1_ad ">
                     <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/FileZilla_logo.svg/2048px-FileZilla_logo.svg.png" alt="">
                     </div>
                     <div class="v_1_ad_details">
                        <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                        <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                        <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
                     </div>
                  </div>
                  </div>
                  <div class="animate animate__animated animate__zoomIn animate__faster">
                     <div class="v_1_ad ">
                        <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                           <img src="https://www.thebalancesmb.com/thmb/HCk--ysUcmvGXuMp5gtRdfbhK9s=/800x780/filters:no_upscale():max_bytes(150000):strip_icc()/Adobe_illustrator-c95bd1da899349bca8ea9cf4df937d1e.jpg" alt="">
                        </div>
                        <div class="v_1_ad_details">
                           <h1 class="animate__animated animate__fadeInLeft text-truncate">firefox</h1>
                           <p class="animate__animated animate__fadeInRight text-truncate">mozilla </p>
                           <span class="animate__animated animate__fadeInDown text-truncate">120mb</span>
                        </div>
                     </div>
                     </div>
                     <div class="animate animate__animated animate__zoomIn animate__faster">
                        <div class="v_1_ad ">
                           <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                              <img src="    https://pnggrid.com/wp-content/uploads/2021/06/Windows-11-Icon-Logo.png
                              " alt="">
                           </div>
                           <div class="v_1_ad_details">
                              <h1 class="animate__animated animate__fadeInLeft text-truncate">Windows 11</h1>
                              <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                              <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                           </div>
                        </div>
                        </div>
                     <div class="animate animate__animated animate__zoomIn animate__faster">
                        <div class="v_1_ad ">
                           <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                              <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Avast_Software_white_logo.png
                              " alt="">
                           </div>
                           <div class="v_1_ad_details">
                              <h1 class="animate__animated animate__fadeInLeft text-truncate">AVEST ANtivirus</h1>
                              <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                              <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                           </div>
                        </div>
                        </div>  
                        <div class="animate animate__animated animate__zoomIn animate__faster">
                           <div class="v_1_ad ">
                              <div class="v_1_ad_logo animate__animated animate__fadeInDown">
                                 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png
                                 " alt="">
                              </div>
                              <div class="v_1_ad_details">
                                 <h1 class="animate__animated animate__fadeInLeft text-truncate">Visual Studio Code</h1>
                                 <p class="animate__animated animate__fadeInRight text-truncate">microsoft </p>
                                 <span class="animate__animated animate__fadeInDown text-truncate">170mb</span>
                              </div>
                           </div>
                           </div>
                 
                 
           
         </div>

         
      </div>
   </div>
</div>



